.Jumbo{
    background-image: url(../assets/img/jumbotron.jpg);
    background-size: cover;
    height: 300px;
    width: 100vw;
    filter: grayscale(1);
    display: flex;
}

.column{
    display: flex;
    direction: wrap;
    margin-top: 5px;
    margin-left: 10%;
}

.titolo{
    color: white;
    font-size: medium;
}

li{
    list-style: none;
    color: rgb(196, 191, 191);
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover{
    color: white;
}
.imgjumbo{
    margin-right: 10%;
    float: right;
}
